@font-face{
    font-family: 'TTLakes-Regular';
    src: url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype")
}

*{
    font-family:TTLakes-Regular, sans-serif;
    box-sizing: border-box;
    color:#7E7E82 ;
}

body{
    background-color: #f8f8f8;
    margin: 1;
    font-family: 'TTLakesCondensed', sans-serif;
    box-sizing: border-box;
    /* width: 100%;
    margin: 0 auto; */
}

h1{
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-size: 16px;
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin: 16px;
}

.swiper{
    gap: 16px;
    display: flex;
    overflow-x: auto;
    height: 154px;
}


.swiper-slide{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 16px 16px;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px; 
    margin: 16px;
}

.container-box-button-next{
    margin: 16px 16px 16px 16px;
}


.show-all{
    display: none;
}


/* Tablet */
  @media (min-width: 512px) and (max-width:1120){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow-x: visible;
    }

    .show-all{
        display:flex;
    }
}

/* Desktop */
@media (min-width:1120px){

}