@font-face{
    font-family: 'TTLakes-Regular';
    src: url("font-family/TTLakes/TTLakes-Regular.woff") format("truetype");
}

*{
    font-family:TTLakes-Regular, sans-serif;
    box-sizing: border-box;
}

.