@font-face{
    font-family: 'TTLakes-Regular';
    src: url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype")
}

*{
    font-family:TTLakes-Regular, sans-serif;
    box-sizing: border-box;
    color:#7E7E82 ;
}

body{
    background-color: #f8f8f8;
    font-family: 'TTLakesCondensed', sans-serif;
    box-sizing: border-box;
}

h1{
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-size: 16px;
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin: 16px;
}

.swiper{
    height: 154px;
}

.swiper-slide{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 16px 16px;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px; 
}

.container-box-button-next{
    margin: 16px 16px 16px 16px;
}


.show-all{
    display: none;
}


/* Tablet */
  @media (min-width: 768px) and (max-width:1120px){

    .swiper-pagination {
        display: none;
  }

    .show-all{
        display:flex;
        margin-top: 24px;
    }

    .swiper.expanded + .show-all img {
        transform: rotate(180deg);
}

/* Desktop */
@media (min-width:1120px){
    .swiper-pagination {
        display: none;
  }

  .show-all{
        display:flex;
        margin-top: 24px;
    }


}