@font-face{
    font-family: 'TTLakes-Regular';
    src: url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype")
}

*{
    font-family:TTLakes-Regular, sans-serif;
    box-sizing: border-box;
    color:#7E7E82 ;
}

body{
    background-color: #f8f8f8;
    margin: 1;
    font-family: 'TTLakesCondensed', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

h1{
    background-color: #F8F8F8;
}

.container{
    gap: 16px;
    display: flex;
    overflow-x: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

.container-box{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 16px 16px;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 6px;
    
}

.container-box-button-next{
    margin: 16px 16px 16px 16px;
}

.show-all{
    display: none;
}

/* Tablet */
  @media (min-width: 512px) {
    body{
        max-width: 100%;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .show-all{
        display:flex;
    }
}

/* Desktop */
@media (min-width:768px){

}